<div class="contents row">
  <div class="container">
    <%= form_with(model: @post, local: true) do |form| %>
      <h3>
        編集する
      </h3>
      <%= form.text_field :name, placeholder: "題名" %>
      <%= form.text_area :text, placeholder: "text" , rows: "10" %>

      <%= form.fields_for :images do |image|%>
        <%= image.file_field :image %>
        <%= image.hidden_field :id, value: image.object.id %> 
      <% end %>
      <%= form.submit "SEND" %>
      
    <% end %>
  </div>
</div>