<div class="contents row">
  <h3 class="title">
    写真を投稿する
  </h3>   
  <div class="container">
 
    <%= form_with(model: @post, local: true ,class: "post-form")  do |form| %>

      <%= form.text_field :name, placeholder: "題名" %>
      <br>
      <%= form.text_area :text, placeholder: "写真の説明文" , rows: "10" %>
      <br>
      <p>投稿する写真を選択する</p>
      <%= form.fields_for :images do |image|%>
        <%= image.file_field :image %>
        <%= image.hidden_field :id, value: image.object.id %> 
      <% end %>
      <br>
      <%= form.submit "投稿する" %>
      
    <% end %>
  </div>
</div>
