<div class ="contents row">
    <% if user_signed_in? && current_user.id == @post.user_id %>
    <div class="more">

      <ul class="more_list">
        <li>
          <%= link_to '編集', "/posts/#{@post.id}/edit", method: :get %>
        </li>

        <li>
          <%= link_to '削除', "/posts/#{@post.id}", method: :delete %>
        </li>
      </ul>
    </div>
    <% end %>
    <%= simple_format(@post.text) %>
    <span class="name"><%= @post.name %>
    </span>
    <span>
      <%  @post.images.each do |image|  %>
      <%= image_tag image.image.to_s %>
      <% end %>
    </span>
  <%= pie_chart @dd , id: "users-chart", width: "800px", height: "500px", legend: false ,label: "Value"%>
  <%= pie_chart Post.group(:user_id).count %>
  <%= pie_chart @ss%>
  <% @dd.each do |key, value| %>
    <%= key %>
    <%= value %>
  <% end %>

  <% @dd.each do |key, value| %>
    <%= User.find(key).nickname %>
  <% end %>
  <br>
  <%= @ss.each do |key, value| %>
    <%= key %>
    <%= value %>
  <% end %>

  <div class="container">
    <% if current_user %>
      <%= form_with(model: [@post, @comment], local: true) do |form| %>
        <%= form.text_area :text, placeholder: "コメントする", rows: "2" %>
        <%= form.submit "SEND" %>
      <% end %>
    <% else %>
      <strong><p>※※※ コメントの投稿には新規登録/ログインが必要です ※※※</p></strong>
    <% end %>
  </div>
  <% if user_signed_in? %>
    <% if !Favorite.exists?(user_id:current_user.id,post_id:@post.id) %>
      <%= link_to "お気に入り",post_add_path(@post),method: :post %>
      <% else %>
      <%= link_to "お気に入り解除",post_add_path(@post),method: :delete %>
    <% end %>
  <% end %>
  <h3>いいね件数: <%= @post.likes.count %></h3>
  <% if user_signed_in? %>
    <% if current_user.already_liked?(@post) %>
      <%= button_to 'いいねを取り消す', post_like_path(@post), method: :delete %>
    <% else %>
    <%= button_to 'いいね', post_likes_path(@post) %>
    <% end %>
   <% end %>
  <h2>いいねしたユーザー</h2>
  <% @post.liked_users.each do |user| %>
    <li><%= user.nickname %></li>
  <% end %>
  <div class="comments">
    <h4>＜コメント一覧＞</h4>
    <% if @comments %>
      <% @comments.each do |comment| %>
        <p>
          <strong><%= link_to comment.user.nickname, "/users/#{comment.user_id}" %>：</strong>
          <%= comment.text %>
        </p>
      <% end %>
    <% end %>
  </div>
</div>